[Desktop Entry]
Encoding=UTF-8
Name=SDLdoom
Comment=Doom - SDL version
Comment[pl]=Doom - wersja SDL
Exec=lsdldoom
Icon=doomlegacy.png
Terminal=false
Type=Application
Categories=Application;Game;ActionGame;
# vi: encoding=utf-8
