[Desktop Entry]
Name=X11doom
Comment=Doom - X11 version
Comment[pl]=Doom - wersja X11
Exec=llxdoom
Icon=doomlegacy.png
Terminal=0
Type=Application
# vi: encoding=utf-8
