[Desktop Entry]
Name=SDLdoom
Comment=Doom - SDL version
Comment[pl]=Doom - wersja SDL
Exec=doomlegacy
Icon=doomlegacy
Terminal=false
Type=Application
Categories=Game;ActionGame;FirstPersonGame;
# vi: encoding=utf-8
