[Desktop Entry]
Encoding=UTF-8
Name=X11doom
Comment=Doom - X11 version
Comment[pl]=Doom - wersja X11
Exec=llxdoom
Icon=doomlegacy.png
Terminal=false
Type=Application
Categories=Application;Game;ActionGame;
# vi: encoding=utf-8
